@font-face {
  font-family: 'Zrnic';
  src: url('./fonts/zrnic.ttf');
}

@font-face {
  font-family: 'Chinese Rocks';
  src: url('./fonts/chinese\ rocks\ rg.ttf');
}

@font-face {
  font-family: 'VDS Thin';
  src: url('./fonts/vds-thin.ttf');
}

@font-face {
  font-family: 'Chica Mono';
  src: url('./fonts/chica-mono.TTF');
}

.zrnic {
  font-family: 'Zrnic';
}

.rocks {
  font-family: 'Chinese Rocks';
}

.vds {
  font-family: 'VDS Thin';
}

.chica {
  font-family: 'Chica Mono';
}
