@import './fonts.scss';

.nav-container {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.nav-list {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  background: #efece6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
  a.current {
    color: red;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

.nav-item {
  height: 100%;
  width: 9em;
  list-style-type: none;
  display: flex;
  color: black;

  flex-direction: column;
  justify-content: center;
  background: #efece6;

  img {
    border-radius: 0.5em;
    height: 7em;
    width: auto;
  }

  h3 {
    font-family: 'Zrnic';
    text-align: center;
  }
  &:hover {
    h3 {
      color: red;
      text-decoration: underline;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 7em;
    width: 80%;
  }
}
